* {
  box-sizing: border-box;
}

/* .po-body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
} */

.ptw-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif-box {
  width: 100vw;
  height: 100vh;
}
.ptw-text-box {
  width: 250px;
  height: 150px;
  /* border: 5px solid blue; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: dots180;
  font-size: 14px;
}
.ptw-text-box:hover {
  font-family: dots40;
}

@font-face {
  font-family: dots40;
  src: url("../fonts/TINY5x3-40.otf");
}
@font-face {
  font-family: dots180;
  src: url("../fonts/TINY5x3-180.otf");
}
